@model IEnumerable<dominio.Pokemon>

@{
    ViewData["Title"] = "Listado Pokemons";
}
<div class="text-center">
    <h1>Pokedex</h1>
</div>

<a class="btn btn-dark m-2" asp-action="Create">Agregar Nuevo</a>

<p class="row">
    <form asp-action="Index" method="get">
        <div class="col-4 m-2">
            <input type="text" class="form-control" name="filtro" placeholder="Busqueda por nombre..." />
        </div>
        <div class="col-2 m-2">
             <button type="submit" class="btn btn-outline-dark">Buscar</button>
        </div>
       
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.Id)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
           @*  <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.UrlImagen)
            </th>
            <th>
                Tipo
            <th/>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td> *@
            <td>
                @* @Html.DisplayFor(modelItem => item.UrlImagen) *@
                <img src="@item.UrlImagen" height="50" alt="Imagen del Pokemon" />
            </td>
            <td>
                @item.Tipo.Descripcion
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Editar</a>  
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark">Detalle</a>  
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
